body {
  

    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
    font-family:cursive;
  }
  
  .word-table { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); /* ini html untuk mengubah berapa kolom kesamping kanan , dan itu kolomnya 8*/
    gap: 10px; /* ini untuk jarak antar kotak tabel */
    max-width: 500px; 
  }
  
  .word-cell { /* ini untuk bikin bentuk tabel kotaknya */
    background-color: #d54ae1; 
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .word-cell:hover,
  .word-cell.active {
    background-color:rgb(47, 177, 101);
  }
.tampilkesim{
	background-color:  rgb(31, 156, 156); 
	font-family: cursive;
	border: 2px  black;
	color: rgb(251, 254, 255);
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 8px;
	margin-top: -10px;
	margin-left: 13px;
	font-size: 17px;
	}
  .dalamkesim {
    width:52% ;
      padding: 13px;
      padding-bottom: 5px;
      padding-right: 25px;
      border-left: 3px dashed   teal;
      border-right: 3px dashed teal;
      background-color: rgb(206, 210, 210);
      border-radius: 3px;
      margin-left:1px;
      margin-top: -40px;
      box-sizing: border-box;
      font-size: 17px;
      margin-right: 5px;
      font-family:cursive ;
    }
    .dalamkesim ol{
    font-family: cursive;
    font-size: 17px;
    line-height:35px ;
    }